body{background-color: black;
font-family: 'Arial';
background-image: url(img/background.big .jpg);
}





.bilder{  
  width: 1280px;  
  height: 550px;
  background-color:#FFFFFF ;
  margin: 0px 0px 0px -8px;
  padding: 23px 0px 50px 30px;
}

.pers {
  width: 370px;
  height: 300px;
  background-color:gray;
  margin: 5px 5px 5px 5px;
  border-radius: 10px;

 }

 .pic img {
     width: 160px;
     height: 220px;
     margin-left: 20px;
     margin-top: 20px;
     margin-right: 20px;
     border-radius: 20px;
 }

 .text{
  margin-top:-220px ;
  margin-left:200px ;
 }


#like{
  white-space: nowrap;  
  font-size: 35px; 
  color: red; 
  width: 150px;
  margin-left: 5px; 
  margin-right: 5px;
}

 button{
     font-size: 20px;
     border-radius: 10px;
     background-color:lightgray;
     margin-top: 10px;
 }

hr{
  height: 2px;
  background-color: black
}

